<div id="<%= dom_id user %>">

  <p>
    <strong>Preferred first name:</strong>
    <%= user.preferred_first_name %>
  </p>

  <p>
    <strong>Preferred last name:</strong>
    <%= user.preferred_last_name %>
  </p>

  <p>
    <strong>Nick name:</strong>
    <%= user.nick_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Events:</strong>
    <% user.events.each do |e| %>
      <%= e.event_date %>
    <% end  %>
  </p>


</div>
