<div id="<%= dom_id user %>">
  <p>
    <strong>Band area 1:</strong>
    <%= user.band_area_1 %>
  </p>

  <p>
    <strong>Band area 2:</strong>
    <%= user.band_area_2 %>
  </p>

  <p>
    <strong>Band area 3:</strong>
    <%= user.band_area_3 %>
  </p>

  <p>
    <strong>Band area 4:</strong>
    <%= user.band_area_4 %>
  </p>

  <p>
    <strong>Band area 5:</strong>
    <%= user.band_area_5 %>
  </p>

  <p>
    <strong>Band area 6:</strong>
    <%= user.band_area_6 %>
  </p>

  <p>
    <strong>Band area 7:</strong>
    <%= user.band_area_7 %>
  </p>

  <p>
    <strong>Band area 8:</strong>
    <%= user.band_area_8 %>
  </p>

  <p>
    <strong>Band area 9:</strong>
    <%= user.band_area_9 %>
  </p>

  <p>
    <strong>Preferred first name:</strong>
    <%= user.preferred_first_name %>
  </p>

  <p>
    <strong>Preferred last name:</strong>
    <%= user.preferred_last_name %>
  </p>

  <p>
    <strong>Nick name:</strong>
    <%= user.nick_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= user.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= user.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= user.zip %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Staff rating:</strong>
    <%= user.staff_rating %>
  </p>

  <p>
    <strong>Staff notes:</strong>
    <%= user.staff_notes %>
  </p>

  <p>
    <strong>Tax first name:</strong>
    <%= user.tax_first_name %>
  </p>

  <p>
    <strong>Tax last name:</strong>
    <%= user.tax_last_name %>
  </p>

  <p>
    <strong>Tax address1:</strong>
    <%= user.tax_address1 %>
  </p>

  <p>
    <strong>Tax address2:</strong>
    <%= user.tax_address2 %>
  </p>

  <p>
    <strong>Tax city:</strong>
    <%= user.tax_city %>
  </p>

  <p>
    <strong>Tax state:</strong>
    <%= user.tax_state %>
  </p>

  <p>
    <strong>Tax zip:</strong>
    <%= user.tax_zip %>
  </p>

  <p>
    <strong>Tax country:</strong>
    <%= user.tax_country %>
  </p>

  <p>
    <strong>Tax id number:</strong>
    <%= user.tax_id_number %>
  </p>

  <p>
    <strong>Name on bank account:</strong>
    <%= user.name_on_bank_account %>
  </p>

  <p>
    <strong>Bank routing number:</strong>
    <%= user.bank_routing_number %>
  </p>

  <p>
    <strong>Bank account number:</strong>
    <%= user.bank_account_number %>
  </p>

  <p>
    <strong>Primary instrument:</strong>
    <%= user.primary_instrument %>
  </p>

  <p>
    <strong>Secondary instrument:</strong>
    <%= user.secondary_instrument %>
  </p>

  <p>
    <strong>Tertiary instrument:</strong>
    <%= user.tertiary_instrument %>
  </p>

  <p>
    <strong>Song list:</strong>
    <%= user.song_list %>
  </p>

  <p>
    <strong>Has car:</strong>
    <%= user.has_car %>
  </p>

  <p>
    <strong>Has sound system:</strong>
    <%= user.has_sound_system %>
  </p>

  <p>
    <strong>Has lighting system:</strong>
    <%= user.has_lighting_system %>
  </p>

  <p>
    <strong>Has battery generator:</strong>
    <%= user.has_battery_generator %>
  </p>

  <p>
    <strong>Will play fever events:</strong>
    <%= user.will_play_fever_events %>
  </p>

  <p>
    <strong>Will play wedding receptions:</strong>
    <%= user.will_play_wedding_receptions %>
  </p>

  <p>
    <strong>Will play ceremonies:</strong>
    <%= user.will_play_ceremonies %>
  </p>

  <p>
    <strong>Will travel overnight:</strong>
    <%= user.will_travel_overnight %>
  </p>

  <p>
    <strong>Will travel international:</strong>
    <%= user.will_travel_international %>
  </p>

  <p>
    <strong>Can emcee:</strong>
    <%= user.can_emcee %>
  </p>

  <p>
    <strong>Can lead band:</strong>
    <%= user.can_lead_band %>
  </p>

  <p>
    <strong>Meal prefference:</strong>
    <%= user.meal_prefference %>
  </p>

  <p>
    <strong>Passport number:</strong>
    <%= user.passport_number %>
  </p>

  <p>
    <strong>Passport expiration:</strong>
    <%= user.passport_expiration %>
  </p>

  <p>
    <strong>Passport date issued:</strong>
    <%= user.passport_date_issued %>
  </p>

  <p>
    <strong>Passport first name:</strong>
    <%= user.passport_first_name %>
  </p>

  <p>
    <strong>Passport last name:</strong>
    <%= user.passport_last_name %>
  </p>

  <p>
    <strong>Passport birth date:</strong>
    <%= user.passport_birth_date %>
  </p>

  <p>
    <strong>Passport city of birth:</strong>
    <%= user.passport_city_of_birth %>
  </p>

  <p>
    <strong>Passport state of birth:</strong>
    <%= user.passport_state_of_birth %>
  </p>

  <p>
    <strong>Passport country of birth:</strong>
    <%= user.passport_country_of_birth %>
  </p>

  <p>
    <strong>Passport nationality:</strong>
    <%= user.passport_nationality %>
  </p>

</div>
